
<ion-view view-title="Course's Files">
  <ion-content scroll="true" has-bouncing="true" overflow-scroll="false">
    <ion-list>
    <div class="list">
  <div class="item item-input-inset">
    <label class="item-input-wrapper">
     <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Subscribe to a course" ng-model="input.coursename">
    </label>
    <button class="button button-small" ng-click="subscribeToCourse()">
      Submit
    </button>
  </div>
</div>

      <ion-item class="" ng-repeat="file in files" type="item-text-wrap" href="">
       <!-- <img ng-src="{{file.avatar}}">-->
        <h2>{{file.filename}} </h2>
        <p> No. of pages : {{file.no_of_pages}} </p>
          <p> Date uploaded : {{file.date_uploaded}}  </p>
       <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->
                                                                            <ion-option-button class="button-assertive" ng-click="printRequest('{{file.id}}')">
                                                                            <!--<ion-option-button class="button-assertive" ng-click="openModal()"> -->
                                                                                               Print
                                                                            </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>




</ion-view>
