<ion-view title="">
  <ion-content class="padding" id="login_page">
              <img ng-src="img/logo.png" style="min-height:70px;display: block;margin-left: auto;margin-right: auto;position: relative;"></ion-item>
            <form name="login_form"  ng-submit="login.signin()">
                <div class="list card">

                    <label class="item item-input">
                        <input id="email" name="email" type="email" placeholder="Your email" ng-model="login.email" required="">
                    </label>
                    <label class="item item-input">
                        <input id="password" name="password" type="password" placeholder="Your password" ng-model="login.password" required="">
                    </label>
                </div>
                <div class="padding">
                    <button class="button button-block button-outline button-light" type="submit">
                        Login
                    </button>
                </div>
             <div class="button-bar">
				    <button class="button button-calm" ng-click="login.anonymousLogin()">Guest login</button>
				     <button class="button button-balanced" ng-click="signUp()">Sign Up</button>
		     </div>
            </form>
                <h4 style="color:red;" ng-bind="login.error"></h4>

  </ion-content>
</ion-view>
