
<ion-view view-title="Shops">
  <ion-content scroll="true" has-bouncing="true" overflow-scroll="false">
    <ion-list>
    <div class="list">
  <div class="item item-input-inset">
    <label class="item-input-wrapper">
     <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Subscribe to a course" ng-model="input.coursename">
    </label>
    <button class="button button-small" ng-click="subscribeToCourse()">
      Submit
    </button>
  </div>
</div>

      <ion-item class="card" ng-repeat="shop in shops" type="item-text-wrap" href="#/tab/shops/{{shop.id}}">
        <img ng-src="img/place.svg" style="width:110%; padding-right:1%;">
        <h2>{{shop.shopname}}</h2>
        <h3>{{shop.address}}</h3>
        <p>{{shop.description}}</p>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
